<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <appSettings>
        <add key="uiBaseUrl" value="https://emeaqa.my.salesforce.com/" />
        <add key="RegistrationUrl" value="https://psomaster-16e7f3e3362-1751cd447b3.force.com/nPORTAL__SelfRegistration?product=a0u3g000000bmSzAAI" />
        <add key="AddAccountBaseUrl" value="https://emeaqa.my.salesforce.com/services/data/v50.0/composite/tree/Account" />
        <add key="Username" value="admin@emea.int" />
        <add key="Password" value="87VPDpE8F8ag" />
    </appSettings>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
		<section name="specflow" type="TechTalk.SpecFlow.configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<Log4net>
		<appender name="AutomationUITestsLogFile" type="log4net.Appender.RollingFileAppender">
			<file value="\AutomationUITests.log" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="100MB" />
			<rollingStyle value="Once" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.patternLayout">
				<conversionPattern value="%date %-5level [%thread] %logger &lt;%method&gt; - %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="AutomationUITestsLOgFile" />
		</root>
	</Log4net>
	<appSettings>
		<add key="Url" value="https://emeaqa.my.salesforce.com/"/>
		<add key="RegistrationUrl" value="https://psomaster-16e7f3e3362-1751cd447b3.force.com/nPORTAL__SelfRegistration?product=a0u3g000000bmSzAAI"/>
		<add key="Username" value="admin@emea.int"/>
		<add key="Password"  value="87VPDpE8F8ag"/>
	</appSettings>
</configuration>